.productos-page {
  width: 100%;
}

.productos-grid {
  width: 100%;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 22px;

  margin-top: 24px;
}

@media (max-width: 1200px) {
  .productos-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .productos-grid {
    grid-template-columns: 1fr;
  }
}
